{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% comment "License" %}
Copyright 2015 SPECS Project - CeRICT

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

 @author  Umberto Villano villano@unisannio.it
 @author  Antonio Punzo antonio.punzo@studenti.unisannio.it
{% endcomment %}

{% block modal-body %}
        <div class="row">
          <div class="col-sm-12">
            <fieldset>
            {% include "horizon/common/_form_fields.html" %}
            </fieldset>
          </div>
        </div>
{% endblock %}

{% block modal-footer %}
        {% if cancel_url %}
        <a href="{% block cancel_url %}{{ cancel_url }}{% endblock %}"
           class="btn btn-default cancel">
          {{ cancel_label }}
        </a>
        {% endif %}
{% endblock %}